# Python List

### 1. Create your own lists otherwise use the List1 = ['a','b','c']  to operate the below Python list  Operations?

### 1. List Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [2]:
List1 = ['a','b','c']
Repetition = List1 *2
Repetition

['a', 'b', 'c', 'a', 'b', 'c']

In [41]:
# my sol
list1 = [1,2]
Rep = list1*3
Rep

[1, 2, 1, 2, 1, 2]

#### 1.B. Concatenation (+):

In [3]:
List1 = ['a','b','c']
List2 = [1,2,3,4]
Concatenation = List1 + List2
Concatenation

['a', 'b', 'c', 1, 2, 3, 4]

In [42]:
# my sol
list1 = [1,2]
list2 = ["a",[3,"d"]]
Concatenation = list1 + list2
Concatenation

[1, 2, 'a', [3, 'd']]

#### 1.C. Membership:

In [4]:
List = ['a','b','c']
print('a' in List)

True

In [44]:
# my sol
list1 = [1,4,5,"a"]
print('a' in list1)

True

#### 1.D. Length:

In [5]:
List = ['a','b','c']
len(List)

3

In [45]:
# my sol
list = [1,4,5,"a"]
print(len(list1))

2

#### 1.E. Iteration:

In [6]:
List = ['a','b','c']
for i in List: 
    print(List)

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']

In [46]:
# my sol
list1 = [1,4,5,]
for a in list:
    print(list1)

[1, 4, 5]
[1, 4, 5]
[1, 4, 5]
[1, 4, 5]

### 2.1. Create your own lists to operate the below Python List Built-in functions?
##### otherwise use the
            List1 = [1, 2, 4, 5, 54]
            List2 = [23,54,789,9876,876,532,56]
            List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

#### 2.C. max(list):

In [1]:
List1 = [1, 2, 4, 5, 54]
List2 = [23,54,789,9876,876,532,56]
List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]
print('Maximum is:', max(List1, List2, List3))

Maximum is: [23, 54, 789, 9876, 876, 532, 56]

In [3]:
# my sol
l1 = [2,3,5,1,4,6]
l2 = [5,5,7,8,9,1]
l3 = [10,133,233,122,444444]
print('Maximum is:', max(l1, l2, l3))

Maximum is: [10, 133, 233, 122, 444444]

#### 2.D. min():

In [10]:
List1 = [1, 2, 4, 5, 54]
List2 = [23,54,789,9876,876,532,56]
List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]
print('Minimum is:', min(List1, List2, List3))

Minimum is: [1, 2, 4, 5, 54]

In [47]:
# my sol
l1 = [2,3,5,1,4,6]
l2 = [5,5,7,8,9,1]
l3 = [10,133,233,122,444444]
print('Minimum is:', min(l1, l2, l3))

Minimum is: [2, 3, 5, 1, 4, 6]

#### 2.E.list:

In [49]:
List = [234567890]
list(List)

TypeError: 'list' object is not callable

In [8]:
# my sol
l1 = "hghg"
list(l1)

['h', 'g', 'h', 'g']

### 3. Create your own lists to operate the below  thePython List built-in methods?
##### otherwise use below list:
           List = ['white','red', 'blue', 'green','blue','yellow', 'black']

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

#### 3.A) append:

In [22]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.append('C')
List

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'C']

In [52]:
list2 = ["a","B","gh","d"]
list2.append("C")
list2

['a', 'B', 'gh', 'd', 'C']

#### 3.B) list.clear():

In [23]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.clear()
List

[]

In [54]:
list2 = ["a","B","gh","d"]
list2.clear()
list2

[]

#### 3.C) List.copy()

In [24]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
new_list = List.copy()
List.append('C')
print('Old List: ', List)
print('New List: ', new_list)

Old List:  ['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black', 'C']
New List:  ['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']

In [56]:
list2 = ["a","B","gh","d"]
list4 = list2.copy()
list2.append("C")
print(list2)
print(list4)

['a', 'B', 'gh', 'd', 'C']
['a', 'B', 'gh', 'd']

#### 3. D) list.count(obj):

In [25]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.count('blue')

2

In [57]:
# my sol
list2 = ["a","B","gh","d","a"]
list2.count("a")

2

#### 3.E) list.extend(seq):

In [26]:
List1 = ['a', 'e', 'i', 'o', 'i', 'u','y','w','tre','ytre','uyt']
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List1.extend(List)
print('Language List: ', List1)

Language List:  ['a', 'e', 'i', 'o', 'i', 'u', 'y', 'w', 'tre', 'ytre', 'uyt', 'white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']

In [58]:
list2 = ["a","B","gh","d"]
list3 = [1,2,3]
list2.extend(list3)
list2

['a', 'B', 'gh', 'd', 1, 2, 3]

#### 3.F) list.index(obj):

In [28]:
List = ['a', 'e', 'i', 'o', 'i', 'u','y','w','tre','ytre','uyt']
List.index('i')

2

In [59]:
# my sol
list2 = ["a","B","gh","d"]
list2.index("d")

3

#### 3.G) list.insert(index, obj):

In [33]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.insert(3, 'o')
print('Updated List: ', List)

Updated List:  ['white', 'red', 'blue', 'o', 'green', 'blue', 'yellow', 'black']

In [63]:
# my sol
list2 = ["a","B","gh","d"]
list2.insert(3," ")
print("Upadated list:",list2)

Upadated list: ['a', 'B', 'gh', ' ', 'd']

#### 3.H) list.pop(obj=list[-1]):

In [9]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
return_value = List.pop(3)
print('Return Value: ', return_value)
print('Updated List: ', List)

Return Value:  green
Updated List:  ['white', 'red', 'blue', 'blue', 'yellow', 'black']

In [64]:
# my sol
list2 = ["a","B","gh","d"]
returnvalue = list2.pop(1)
print(returnvalue)
print(list2)

B
['a', 'gh', 'd']

#### 3.I) list.remove(obj):

In [30]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.remove('blue')
print('Updated list: ', List)

Updated list:  ['white', 'red', 'green', 'blue', 'yellow', 'black']

In [66]:
# my sol
list2 = ["a","B","gh","d"]
list2.remove("B")
print("Updated list:",list2)

Updated list: ['a', 'gh', 'd']

#### 3.j) list.reverse():

In [31]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']
List.reverse()
List

['black', 'yellow', 'blue', 'green', 'blue', 'red', 'white']

In [67]:
# my sol
list2 = ["a","B","gh","d"]
list2.reverse()
list2

['d', 'gh', 'B', 'a']

#### 3.K) list.sort([func]):

In [10]:
List = [876,5890,9876,6789,876,54,56,789,87,65,6789,8,765,4,567,89]
List.sort()
List

[4, 8, 54, 56, 65, 87, 89, 567, 765, 789, 876, 876, 5890, 6789, 6789, 9876]

In [68]:
# my sol
list1 = [1,3,5,2,3,7,8,2,1,2]
list1.sort()
list1

[1, 1, 2, 2, 2, 3, 3, 5, 7, 8]

# Python Tuple

### Create your own Tuple to operate the below Python tuple Operations ?
##### otherwise use the
                Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
                Tuple2 = (1,4,1,3,4,5,65)

### 1. Tuple Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

### My sol

In [69]:
mytup = ("s","b","hf",3,4,"f")
repetition = mytup*2
print(repetition)

('s', 'b', 'hf', 3, 4, 'f', 's', 'b', 'hf', 3, 4, 'f')

In [70]:
mytup = ("s","b","hf",3,4,"f")
yourtup = (1,3,4)
conc = mytup + yourtup
print(conc)

('s', 'b', 'hf', 3, 4, 'f', 1, 3, 4)

In [71]:
mytup = ("s","b","hf",3,4,"f")
"s" in mytup

True

In [72]:
mytup = ("s","b","hf",3,4,"f")
print(len(mytup))

6

In [75]:
mytup = ("s","b","hf",3,4,"f")
for i in mytup:
    print(mytup)

('s', 'b', 'hf', 3, 4, 'f')
('s', 'b', 'hf', 3, 4, 'f')
('s', 'b', 'hf', 3, 4, 'f')
('s', 'b', 'hf', 3, 4, 'f')
('s', 'b', 'hf', 3, 4, 'f')
('s', 'b', 'hf', 3, 4, 'f')

##### 1.A. Repetition:

In [16]:
Tuple = ('white','red', 'blue', 'green','blue','yellow', 'black')
Repetition = Tuple *2
Repetition

('white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 'white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black')

#### 1.B. Concatenation (+):

In [15]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
Tuple2 = (1,4,1,3,4,5,65)
Concatenation = Tuple1 + Tuple2
Concatenation

('white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 1,
 4,
 1,
 3,
 4,
 5,
 65)

#### 1.C) Membership:

In [14]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
print(2 in Tuple1)

False

#### 1.D) Length:

In [13]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
len(Tuple1)

7

#### 1.E) Iteration:

In [12]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
for i in Tuple1: 
    print(Tuple1)

('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')
('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')
('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')
('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')
('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')
('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')
('white', 'red', 'blue', 'green', 'blue', 'yellow', 'black')

### 2.Create your own Tuple to operate the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

### My sol

In [77]:
mytuple = (11,33,3,66,44,22,77,88,99,56)
print(max(mytuple))
print(min(mytuple))

99
3

In [79]:
mystr = ("sethyhfngh")
mytuple = tuple(mystr)
print(mytuple)

('s', 'e', 't', 'h', 'y', 'h', 'f', 'n', 'g', 'h')

#### 2.A) max():

In [17]:
Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)
max(Tuple1)

8765

#### 2.D) min():

In [18]:
Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)
min(Tuple1)

4

#### 2.E) Tuple:

In [19]:
Tuple ='HJIUYTREW'
tuple(Tuple)

('H', 'J', 'I', 'U', 'Y', 'T', 'R', 'E', 'W')

# Python Set

In [ ]:
#### Create your own Set to operate the below Python Set Operations ?
#### otherwise use the below set:
        Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
        Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}

### 1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

#### 1.A) Union:

In [20]:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
print("Union :", Set1 | Set2)

Union : {1, 3, 4, 5, 6, 7, 8, 9, 6789, 9876, 678, 45, 436, 54, 56, 57, 8765, 65, 787654, 467, 88, 87654, 7654, 876, 887}

In [21]:
# my sol
s1 = {1,4,5,6}; s2 = {2,3,4,5}
print("Union:", s1 | s2)

Union: {1, 2, 3, 4, 5, 6}

In [80]:
# my sol
s1 = {1,4,5,6}; s2 = {2,3,4,5}
print("Intersection:", s1 & s2)

Intersection: {4, 5}

In [81]:
# my sol
s1 = {1,4,5,6}; s2 = {2,3,4,5}
print("Symmetric diff:", s1 - s2)

Symmetric diff: {1, 6}

#### 1.B. Intersection

In [22]:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
print("Union :", Set1 & Set2)

Union : {4, 5, 6, 7, 8, 9, 876}

#### 1.C. Difference

In [44]:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
print("Union :", Set1 - Set2)

Union : {1, 3, 787654, 87654, 436, 9876, 54, 56}

####  1.D. Symmetric difference:

In [45]:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}
print("Union :", Set1 ^ Set2)

Union : {65, 1, 3, 787654, 6789, 467, 9876, 88, 7654, 678, 87654, 45, 436, 54, 887, 56, 57, 8765}

# Python Dictionary

#### Create your own Dictionary to operate the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
                           Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	len(dict)     
    B.	str(dict)     
    C.	type(variable)

### My sol

In [83]:
mydict = {"a":1,"b":2,"c":3}
print(len(mydict))

3

In [84]:
mydict = {"a":1,"b":2,"c":3}
print(str(mydict))

{'a': 1, 'b': 2, 'c': 3}

In [85]:
mydict = {"a":1,"b":2,"c":3}
print(type(mydict))

<class 'dict'>

#### 1.A) len(dict):

In [47]:
Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
len (Dictionary)

3

#### 2.B) str(dict):

In [23]:
Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
str(Dictionary)

"{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}"

#### 1.C) type(variable):

In [51]:
Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
type(Dictionary)

dict

### 2.Create your own Dictionary to operate the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:

                            dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

### My sol

In [86]:
mydict = {"a":1,"b":2,"c":3}
mydict.clear()
mydict

{}

In [87]:
mydict1 = {"a":1,"b":2,"c":3}
mydict2 = mydict1.copy()
print(mydict2)

{'a': 1, 'b': 2, 'c': 3}

In [92]:
mytup = ("a","b","z")
mydict1 = dict.fromkeys(mytup)
print(mydict1)

{'a': None, 'b': None, 'z': None}

In [94]:
mydict = {"a":1,"b":2,"c":3}
value = mydict.get("b")
print(value)

2

In [95]:
mydict = {"a":1,"b":2,"c":3}
print(mydict.items())

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [96]:
mydict = {"a":1,"b":2,"c":3}
print(mydict.keys())

dict_keys(['a', 'b', 'c'])

In [97]:
mydict = {"a":1,"b":2,"c":3}
print(mydict.values())

dict_values([1, 2, 3])

In [103]:
mydict = {"a":1,"b":2,"c":3}
newentry = mydict.setdefault("new")
print("New dictionaries",mydict)
print("new entry:",mydict.get("new"))

New dictionaries {'a': 1, 'b': 2, 'c': 3, 'new': None}
new entry: None

In [107]:
mydict = {"a":1,"b":2,"c":3}
mydict2 = {"g":9}
mydict.update(mydict2)
print(mydict)

{'a': 1, 'b': 2, 'c': 3, 'g': 9}

#### 2.A) dic.clear():

In [52]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
dictionaries.clear()
dictionaries

{}

#### 2.B) dict.copy():

In [53]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
new = dictionaries.copy()

print('Orignal: ', dictionaries)
print('New: ', new)

Orignal:  {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
New:  {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

#### 2.C) dict.fromkeys():

In [90]:
keys = {'a', 'e', 'i', 'o', 'u' }
Dictionaries = dict.fromkeys(keys)
print(Dictionaries)

{'u': None, 'i': None, 'o': None, 'e': None, 'a': None}

#### 2.D) dict.get(key[, value]) :

In [25]:
dict1 = {'Name': 'oldStudent', 'Age': 77};
print('Name: ', dict1.get('name'))
print('Age: ', dict1.get('age'))
print('Salary: ', dict1.get('salary'))
print('Salary: ', dict1.get('salary', 0.0))

Name:  None
Age:  None
Salary:  None
Salary:  0.0

#### 2.E) dict.items()

In [56]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
print(dictionaries.items())

dict_items([('a', 'alpha'), ('o', 'omega'), ('g', 'gamma')])

#### 2.F) dict.keys() :

In [26]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
print(dictionaries.keys())
empty_dict = {}
print(empty_dict.keys())

dict_keys(['a', 'o', 'g'])
dict_keys([])

#### 2.G) dict.setdefault():

In [27]:
Dictionaries = {'Name': 'oldStudent', 'Age': 77};
print(Dictionaries.keys())
age = Dictionaries.setdefault('age')
print('person = ',Dictionaries)
print('Age = ',age)

dict_keys(['Name', 'Age'])
person =  {'Name': 'oldStudent', 'Age': 77, 'age': None}
Age =  None

#### 2.H) dict.update():

In [33]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
Dict2 = {"a": "two"}
dictionaries.update(Dict2)
print(dictionaries)

Dict2 = {3: "three"}
# adds element with key 3
dictionaries.update(Dict2)
print(dictionaries)

{'a': 'two', 'o': 'omega', 'g': 'gamma'}
{'a': 'two', 'o': 'omega', 'g': 'gamma', 3: 'three'}

 #### 2.L)  dict.values():

In [60]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
print(dictionaries.values())

dict_values(['alpha', 'omega', 'gamma'])

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello"

In [34]:
a = 10
if ( a == 10 ) : 
    print("Hello")

Hello

In [108]:
c = 36
if (c == 36):
    print("Hello")

Hello

#### 2. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello", else print "Good Bye"

In [36]:
a = 11
if ( a == 10 ) : 
    print("Hello")
else : 
    print("Good Bye")

Good Bye

In [109]:
c = 23
if c == 34:
    print("hello")
else:
    print("good bye")

good bye

# While Loop

#### 1. Print Hello World 5 times

In [37]:
count = 1
while(count <=5) :
    print("hello world")
    count = count + 1

hello world
hello world
hello world
hello world
hello world

In [118]:
# My sol
i = 0
while i in range(5):
    print("hello world")
    i += 1

hello world
hello world
hello world
hello world
hello world

# For Loop

#### 1. Take a list [23,1,0,12,45,-1,46], loop through each element and print it

In [38]:
l2=[23,1,0,12,45,-1,46]

for x in l2 :
    print(x)

23
1
0
12
45
-1
46

In [119]:
str1="python"
for x in str1:
    print(x)

p
y
t
h
o
n

#### 2. Take a list [1,2,3,4,5,6,7,8], loop through each element and print it. But, use break to come out of the loop after printing the second element

### break

In [8]:
count = 0 
myl = [1,2,3,4,5,6,7,8]
for x in myl: 
    print(x)
    count=count+1
    if(count==2):
        break #Break statement will exit the loop block even though the loop can run 8 times
print("I have exited the loop")

1
2
I have exited the loop

In [120]:
count = 0
for x in range(10):
    print(x)
    count += 1
    if count == 5:
        break
print("You came out")

0
1
2
3
4
You came out

In [40]:

String = "Pythonisawesome"
print(String[:-len(String):-1])

emosewasinohty

In [127]:
name = "bhavesh"
print(name[-1:-len(name)-1:-1])

hsevahb