In [4]:
import pandas as pd
auto=pd.read_csv('/Users/kamalmukiri/Documents/AptComputingAcademy/DataScience/Pandas/Data/Automobile.csv')
print(auto.head())
print(auto.shape)
print(auto.mean())
print(auto.max())

   symboling  normalized_losses         make fuel_type aspiration  \
0          3                168  alfa-romero       gas        std
1          3                168  alfa-romero       gas        std
2          1                168  alfa-romero       gas        std
3          2                164         audi       gas        std
4          2                164         audi       gas        std

  number_of_doors   body_style drive_wheels engine_location  wheel_base  ...  \
0             two  convertible          rwd           front        88.6  ...
1             two  convertible          rwd           front        88.6  ...
2             two    hatchback          rwd           front        94.5  ...
3            four        sedan          fwd           front        99.8  ...
4            four        sedan          4wd           front        99.4  ...

   engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
0          130         mpfi  3.47    2.68               9.0        111
1          130         mpfi  3.47    2.68               9.0        111
2          152         mpfi  2.68    3.47               9.0        154
3          109         mpfi  3.19    3.40              10.0        102
4          136         mpfi  3.19    3.40               8.0        115

   peak_rpm city_mpg  highway_mpg  price
0      5000       21           27  13495
1      5000       21           27  16500
2      5000       19           26  16500
3      5500       24           30  13950
4      5500       18           22  17450

[5 rows x 26 columns]
(201, 26)
symboling                0.840796
normalized_losses      125.189055
wheel_base              98.797015
length                 174.200995
width                   65.889055
height                  53.766667
curb_weight           2555.666667
engine_size            126.875622
bore                     3.329701
stroke                   3.261741
compression_ratio       10.164279
horsepower             103.263682
peak_rpm              5121.393035
city_mpg                25.179104
highway_mpg             30.686567
price                13207.129353
dtype: float64
symboling                  3
normalized_losses        256
make                   volvo
fuel_type                gas
aspiration             turbo
number_of_doors          two
body_style             wagon
drive_wheels             rwd
engine_location         rear
wheel_base             120.9
length                 208.1
width                     72
height                  59.8
curb_weight             4066
engine_type            rotor
number_of_cylinders      two
engine_size              326
fuel_system             spfi
bore                    3.94
stroke                  4.17
compression_ratio         23
horsepower               262
peak_rpm                6600
city_mpg                  49
highway_mpg               54
price                  45400
dtype: object

TypeError: bad operand type for abs(): 'str'

0      168
1      168
2      168
3      164
4      164
5      161
6      158
7      168
8      158
9      192
10     192
11     188
12     188
13     149
14     149
15     149
16     149
17     121
18      98
19      81
20     118
21     118
22     118
23     148
24     148
25     148
26     148
27     110
28     145
29     137
      ...
171     65
172     65
173     65
174    197
175    197
176     90
177    133
178    122
179    122
180     94
181     94
182     94
183     94
184     94
185    137
186    256
187    132
188    132
189    132
190    103
191     74
192    103
193     74
194    103
195     74
196     95
197     95
198     95
199     95
200     95
Name: normalized_losses, Length: 201, dtype: int64

In [23]:
print(pd.DataFrame([True,True]))

      0
0  True
1  True

In [24]:
left_frame = pd.DataFrame({'Index': range(5), 
                           'Names_left': ['a', 'b', 'c', 'd', 'e']})
right_frame = pd.DataFrame({'key': range(2,7), 
                           'Names_right': ['f', 'g', 'h', 'i', 'j']})
print(left_frame)
print('\n')
print(right_frame)

   Index Names_left
0      0          a
1      1          b
2      2          c
3      3          d
4      4          e


   key Names_right
0    2           f
1    3           g
2    4           h
3    5           i
4    6           j