In [3]:
list1 = [1,2,3,4]
list1.remove(1)
list1.reverse()
print(list1)

[4, 3, 2]

In [7]:
list1 = [x for x in range(100) if (x%2 == 0 or x%3==0)]
print(list1)

[0, 2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 26, 27, 28, 30, 32, 33, 34, 36, 38, 39, 40, 42, 44, 45, 46, 48, 50, 51, 52, 54, 56, 57, 58, 60, 62, 63, 64, 66, 68, 69, 70, 72, 74, 75, 76, 78, 80, 81, 82, 84, 86, 87, 88, 90, 92, 93, 94, 96, 98, 99]

In [8]:
max(list1)

99

In [18]:
l1 = [1, 2, 3, 4, [5,6,7], (8,9,10, [11,12])]
print(len(l1))

l1[5][3][1]


print(type(l1)) # l1[0] --- can be changed
print(type(l1[5])) # l1[5][0] = 88 : No
l1[5] = [100,200] # ? No, Yes
print(l1)

6
<class 'list'>
<class 'tuple'>
[1, 2, 3, 4, [5, 6, 7], [100, 200]]

In [ ]:
#1[5][3][1] = 100

In [19]:
l1.

1

In [21]:
l1 = [1,2,3,4]
for i in range(len(l1)):
    print(l1.pop())
print(l1)

4
3
2
1
[]

In [25]:
stack = []
stack.append(1)
stack.append(2)

print(stack.pop())
print(stack.pop())
print(stack.pop())

2
1

IndexError: pop from empty list

In [26]:
print(help(stack.pop))

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

None

In [29]:
list1 = [1,2,3,4,5,6,0x11,0x12,..........]
list1.pop()
print(list1)
list1.pop(2)
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

AttributeError: 'list' object has no attribute 'union'

In [37]:
l1 = [1,2,3,4]
l2 = l1
l1[0] = 100
print(l1[0])
print(l2[0])

100
100

In [ ]:
import copy

l1 = [1,2,3,4, [5,6,7]]
#l1 = l2 (reference)
#l2 = l1.copy() # Shallow
l2 = copy.copy(l1) #deep copy
l1[4][0] = 500
print(l1[4][0]) # 500
print(l2[4][0]) # ? 5

In [40]:
l1 = list()
print(l1)
l2 = []
print(l2)

[]
[]

In [50]:
list1 = list(range(10))

In [51]:
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
print(list1[-1])
print(list1[-2])
print(list1[-10])

9
8
0

In [66]:
print(list1[3:])
#list1[start index: stop index     : increment]
#          0      :     len(list1):   1
# Positive indexing
print(list1[:3])
print(list1[3:])
print(list1[::10])

# Positive indexing
print(list1[-6::-2])

[3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[3, 4, 5, 6, 7, 8, 9]
[0]
[4, 2, 0]

In [65]:

# Negative indexing
print(list1[::-1])
#           -1, -len(list1), -1

print(list1[::-2])
#           -1, -len(), -1


print(list1[:-6:-2]) # list1[-1:-6:-2]
#           -1, -len(), -1

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[9, 7, 5, 3, 1]
[9, 7, 5]

In [70]:
list1 = list(range(10))
print(list1[-6])
print(list1)
print(list1[-5::-2]) # list1[-5::-2]

4
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 3, 1]

In [72]:
list1 = "hello world"
print(list1[-6])
print(list1)
print(list1[-5::-2]) # list1[-5::-2]

hello world
wolh

In [73]:
list1 = (0,1,2,3,4,5,6,7,8,9)
print(list1[-6])
print(list1)
print(list1[-5::-2]) # list1[-5::-2]

4
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(5, 3, 1)

In [79]:
print(list1[5:-9:-2]) # list1[-5::-2]

(5, 3)

In [85]:
l1 = [1,2,3]
l2 = (4,5,6)
l1.extend(l2)
print(l1+l2)
#[1,2,3,4,5,6]

TypeError: can only concatenate list (not "tuple") to list

In [87]:
l1 = [0,1,2,3]
l1[2:len(l1)] # l1[2:4] 2,3

[2, 3]

In [89]:
l1 = [10,20,30,40,50]
print(l1[1:len(l1)]) #1,2,3

[20, 30, 40, 50]

In [103]:
#list comprehension

list1 = list(range(100))
list2 = [num for num in list1 if num%2==0]
# [INSTRUCTION  for num in list1 if CONDITION] 
# [INSTRUCTION if CONDITION else INSTRUCTION for num in list1]
list3 = [num if num%2==0 else num**2 for num in list1]
print(list3)

[0, 1, 2, 9, 4, 25, 6, 49, 8, 81, 10, 121, 12, 169, 14, 225, 16, 289, 18, 361, 20, 441, 22, 529, 24, 625, 26, 729, 28, 841, 30, 961, 32, 1089, 34, 1225, 36, 1369, 38, 1521, 40, 1681, 42, 1849, 44, 2025, 46, 2209, 48, 2401, 50, 2601, 52, 2809, 54, 3025, 56, 3249, 58, 3481, 60, 3721, 62, 3969, 64, 4225, 66, 4489, 68, 4761, 70, 5041, 72, 5329, 74, 5625, 76, 5929, 78, 6241, 80, 6561, 82, 6889, 84, 7225, 86, 7569, 88, 7921, 90, 8281, 92, 8649, 94, 9025, 96, 9409, 98, 9801]

In [116]:
list1 = [100, 1,3,4,8,100, 100, 5,6,6]
target =100
while list1.count(target)!=0:
    list1.remove(target)
print(list1)

[1, 3, 4, 8, 5, 6, 6]

In [114]:
list1.find(101)

AttributeError: 'list' object has no attribute 'find'

In [119]:
a = ("abc",)
print(type(a))

<class 'tuple'>

In [120]:
a = 10
b = 20
c = (a+b)*10
print(c)

30

In [122]:
del a #free(ptr)
print(a)

NameError: name 'a' is not defined

In [123]:


#Find the given string is palindrome or not
str1 = "Hello world"

dlrow olleH

In [124]:
str1 = "Hello world"
#accessing
print(str1[0])

H

In [131]:
#Editing: String are immutable
str1 = "Hello world"
str2 = str1.upper()
print(str1)
print(str2)

Hello world
HELLO WORLD

In [130]:
list1 = [3,5,6,0,-1,5]
list1.sort()
print(list1)

[-1, 0, 3, 5, 5, 6]

In [133]:
t1= (1,0,4)
l1 = list(t1)
l1.sort()
t1 = tuple(l1)
print(t1)

(0, 1, 4)

In [137]:
#Editing: String are immutable
str1 = "the hindu"
str2 = str1.upper()
str3 = str1.title()

print(str3)

The Hindu

In [139]:
str1 = "The"
str2 = "Hindu"
str3 = str1+str2
print(str3)

TheHindu

In [147]:
item = '''
hello
world
'''
perkg = 100
quantity = 10
print("The total cost of {2}kgs of item {1} is {2}".format(quantity, item, perkg*quantity))
statement = f"The total cost of {quantity}kgs of item {item} is {perkg*quantity}"
print(statement)

The total cost of 1000kgs of item
hello
world
 is 1000
The total cost of 10kgs of item
hello
world
 is 1000

In [148]:
statement = 'Hello "kamal" '
print(statement)

Hello "kamal"

In [ ]:
item = '''
hello
world
'''
perkg = 99.998
quantity = 10
print("The total cost of {2}kgs of item {1} is {2}".format(quantity, item, perkg*quantity))