# Introduction:
- In case of Amazon wants to store the data of its Customers and their details, it needs to depend on persistent Data Base Management
- Way1: Simple store the data in .txt file and parse when required
- Way2: Store the data using json format and parse
- Way3: Using csv/Excel file? Try it
- Final Way


## Rererences:
User URL: https://inloop.github.io/sqlite-viewer/ to parse .db file

# 1. Way1: Simple store the data in .txt file and parse when required

# 2. Way2: Store the data using json format and parse

# SQLite3 in Python

- SQLite3 is a lightweight, serverless database engine. Python’s sqlite3 module provides a simple interface to work with SQLite databases.

## 1. Creating a Database
Steps:
- Import the sqlite3 module.
- Connect to a database file (creates one if it doesn’t exist).
- Create a table using SQL.

```python

import sqlite3

# Connect to SQLite database (or create it)
conn = sqlite3.connect('example.db')

# Create a cursor object
cursor = conn.cursor()

# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    grade TEXT
)
''')

# Commit changes and close the connection
conn.commit()
conn.close()

In [31]:
import sqlite3
import os
print(os.getcwd())
# Creating a connection to data base
conn = sqlite3.connect("Sample2.db")
cur = conn.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS MENU3 (id INT  PRIMARY KEY, name TEXT, price INT, available INT) ''')
#CREATE TABLE IF NOT EXISTS MENU
menu_list = [    (1, "Bajji", 10, 1),
             (2, "Bajji", 10, 1)
]

cur.executemany("insert or ignore into MENU3 values (?,?,?,?)",menu_list)
conn.commit()


# Fetch and print data to verify
cur.execute("SELECT * FROM MENU3")
rows = cur.fetchall()
print("Data in MENU table:", rows)


conn.close()

/Users/kamalmukiri/Documents/1.GitHub/Courses/APTPYTHNOV08/Sessions/Jupyternotebook
Data in MENU table: [(1, 'Bajji', 10, 1), (2, 'Bajji', 10, 1)]

## Basic Example

In [40]:
import sqlite3

# Connect to a database (or create it if it doesn't exist)
conn = sqlite3.connect('example.db')

# Create a cursor object to execute SQL commands
cur = conn.cursor()

#cur.execute("drop table users")

# Create a table
cur.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INT ,
    name TEXT,
    age INT PRIMARY KEY 
)
''')

# Insert data
cur.execute('''
INSERT INTO users (name, age)
VALUES ('Alice', 30)
''')

# Commit changes
conn.commit()

# Query the database
cur.execute('SELECT * FROM users')
rows = cur.fetchall()

# Print the results
for row in rows:
    print(row)

# Close the connection
conn.close()

IntegrityError: UNIQUE constraint failed: users.age