In [1]:
x = (1, 2, 3) 
x[0] = 4

TypeError: 'tuple' object does not support item assignment

In [2]:

l1 = ["a", "b", "c"]
print("a" in l1)

True

In [1]:
# Keywords: for if def 

l1 = list("Hello")
print(l1)

['H', 'e', 'l', 'l', 'o']

In [2]:
x = "x123" 
print(x.isdigit())

False

In [4]:
# Write a function
# called greet
# that takes list of names as an argument and 
# prints a personalized greeting like:
# Hello David, Wish you a Happy New Year!!!!
# Hello Sri, Wish you a Happy New Year!!!!

def greet(names):
    for name in names:
        #formatted string: f"Statement {name}"
        print(f"Hello {name}, Wish you a Happy New Year!!!!")

greet(["David", "Sri"])

Hello David, Wish you a Happy New Year!!!!
Hello Sri, Wish you a Happy New Year!!!!

In [ ]:
# Write a function which takes list of Student names, prints the statement like below
# Hi Harsh, please inform your parents to attend annual day.
# Hi Dhanush, please inform your parents to attend annual day.

In [5]:
# Write a function to multiple all the numbers given in a list
# clue: need to variable number of arguments
# Single function should accept the below function calls
print(mul_all(1,4,6,9,5))
print(mul_all(1.2, 7))

NameError: name 'mul_all' is not defined