In [8]:
s1 = "kamal pavani mounisha ram hari"
#convert to list
l1 = s1.split(" ")
print(l1)
l2 = list(map(lambda x: x.capitalize(), l1))
print(l2)

# Example of using "filter"
names = ["hari krishna", "gopal krishna", "ram", "rama krishna" , "krishna"]
names2 = list(filter(lambda x: "krishna" in x, names))
print(names2)

# Observations:
# 1) Loop needs to be finished : no break
# 2) Suggested to use lambda functions

['kamal', 'pavani', 'mounisha', 'ram', 'hari']
['Kamal', 'Pavani', 'Mounisha', 'Ram', 'Hari']
['hari krishna', 'gopal krishna', 'rama krishna', 'krishna']

In [7]:


"krishna" in "rama krhna"

False

In [13]:
pi = 2.347
def add(num1, num2):
    result = num1+num2*pi
    return result

# function_name = "lambda" arg1, arg2: expression
# If the function does minimal job, go for lambda functions
pi = 2.347
add2 = lambda a1, a2: a1+a2*pi


print(add(1,2))

5.694

In [22]:
from functools import reduce

# Example of using "reduce"
nums = [13, 14, 67, 90,-1]
total = reduce(lambda x,y: x+y, nums)
print(total)

183

In [24]:
# Need to apply x**2+2x+3 to all the numbers in given list: 
# list [3, 6, 9, 10] --> [48, 130, 560, 1022] 

l1 = [3, 6, 9, 10]
result = list(map(lambda x: x**2 + 2*x + 3, l1))
print(result)

[18, 51, 102, 123]

In [27]:
# Need to multiply all the number in a given list
l1 = [3, 6, 9, 0]
reduce_result = reduce(lambda x,y: x*y, l1)
print(reduce_result)

0

In [29]:
# Need to take all the marks which are more than 80.
results = [90, 78,80, 40,30,99]
result = list(filter(lambda x: x>80, results))
print(result)

[90, 99]

In [30]:
# Club all the names with seperator ":" . l1 = ["kamal", "david", "ram"]
import functools
l1=["kamal","david","ram"]
result=functools.reduce(lambda x,y:x + ":"+y,l1)
print(result)

kamal:david:ram

In [34]:
# 2) Create a list of the grades "A", "A+", "B+" from given grades.
# students = [{"name":"Kamal", "grade":"B"}, {"name":"Ram", "grade":"A+"}]
students = [{"name":"Kamal", "grade":"B"}, {"name":"Ram", "grade":"A+"}, {"name":"Pavani", "grade":"A"}, {"name":"Mounisha", "grade":"C+"}]

toppers = list(filter(lambda x: x["grade"] in ["A", "A+", "B+"], students))
print(toppers)

[{'name': 'Ram', 'grade': 'A+'}, {'name': 'Pavani', 'grade': 'A'}]

In [46]:
# List comprehension

# Generate sequence of square of all odd numbers falls in the range 100, 1000
# [EXPRESSION for element in list/tuple/iterator if CONDITION]
l1 = [element**2 for element in range(100,200) if element%2!=0]
#print(l1)

# [EPRESSION1 if CONDITION else EXPRESSION2 for element in list/tuple/iterator ]
l1 = [element**2 if element%2!=0 else element*2 for element in range(10,20)]
print(l1)

[20, 121, 24, 169, 28, 225, 32, 289, 36, 361]

In [12]:
import math
import re

z=input()
output = re.findall(r"([0-9]+)\s*([+-])\s*([0-9])j", z)
a,c,b = output[0]
a = int(a)
b = int(b)

def polar_coordinates(a,b):
    r=math.sqrt(a*2 + b*2)
    theta=math.atan2(b, a)
    return r,theta
r,theta=polar_coordinates(a,b)
print(r)
print(theta)

 1+2j

[('1', '+', '2')]
1 + 2

TypeError: must be real number, not str